.topnav {
  background-color: rgba(15, 36, 155, 0.8);
  position: fixed;
  width: 100%;
  margin-left: -8px;
  top: 0;
}

.nav__img {
  margin: 15px 40px 0 40px;
  width: 100px;
  margin-right: 45vw;
}

.topnav ul {
  margin-right: 40px;
  list-style: none;
  float: right;
  display: flex;
}

.navlinks {
  text-decoration: none;
  font-size: 14pt;
  padding: 0 20px;
  color: white;
}

.navlinks:hover {
  color: yellow;
}

button {
  font-size: 14pt;
  width: 100px;
  height: 40px;
  border: none;
  outline: none;
  z-index: 0;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  border-radius: 10px;
}

button:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

button:active {
  color: #000
}

button:active:after {
  background: transparent;
}

button:hover:before {
  opacity: 1;
}

button:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

.signupWrapper {
  background-image: url('../../assets/signupBackground.png');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 70px -10px;
  height: 85vh;
  z-index: 2;
}

.signup {
  width: 50%;
  float: right;
  position: absolute;
  margin-left: 20vw;
  margin-top: 20vh;
}